 
# DATABASE

MONGO_URI=mongodb+srv://makazamritanshu_db_user:makazamritanshu@cluster0.kfdg2e3.mongodb.net/allpanel2



# AUTHENTICATION
JWT_SECRET=makaz1408


# EXTERNAL API (Sports/Casino Provider)
# API_URL=https://api.cricketid.xyz

#API_URL=http://130.250.191.174:3009
API_URL=http://130.250.191.212:3009
# API_KEY=a1bett20252026
API_KEY=gk_db1cb19180dd6dc5657140d56d29c138099808c7a1196c52

API_URL_New=https://bulkapi.co.in/api/v1
#API_KEY_New=gk_04ea49896e4ac08609eb6ff4c8964b1ef786a66e6a849846
API_KEY_New=gk_db1cb19180dd6dc5657140d56d29c138099808c7a1196c52
#API_KEY=9iiiihdfsdfhdskjfdherfsdhfdhfsdhfsshhhxbbhhgvgs


#API_KEY=dfsdfhdskjfdherfsdhfdhfsdhfsshhhxbbhhgvgs
# DIA Results API (Bet placement & result fetching)
# RESULT_API_URL=https://dia-results.cricketid.xyz/api
RESULT_API_URL=https://bulkapi.co.in/api/v1

# SERVER CONFIGURATION

#NODE_ENV=production
NODE_ENV=local
PORT=3000
APP_TYPE=client

# Separate ports for different apps
CLIENT_PORT=8000
DASHBOARD_PORT=8001


# FEATURE FLAGS
DEV_MOCK_API=0