@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .suspended-event:after {
    background: url('/bg-disabled.png') rgba(0, 0, 0, .5);
    color: red;
    content: "Suspended";
    cursor: not-allowed;
    font-size: 12px;
    font-weight: 600;
    height: 100%;
    line-height: 30px;
    margin: 0 2px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(-100%);
}
}

.rfm-marquee-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  transform: none;
}
.rfm-marquee{
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: marquee 30.72s linear 0s infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
}